body {
    font: 900;
    /* text-decoration:underline; */
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background: linear-gradient( to right, rgb(10, 209, 10),rgb(255, 27, 27));
}

h1 {
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 0.9rem;
    font-style: normal;
    color: rgba(5, 5, 48, 0.5);
}
h3 {
    font: 900 1em 'Raleway', sans-serif;
    letter-spacing: 0.1rem;
}
h2 {
    letter-spacing: 0.4rem;
    color: rgba(5, 5, 48, 0.5);

}